@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*, *::before, *::after {
  box-sizing: border-box;
  /* border: thin solid silver; */
}

html{
    font-size: 16px;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
    min-height: 100vh;    
    /* font-family: 'Cabin', sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff9f0;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #703012;
}

h1 {
  font-size: 3.1rem;
}

h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.7rem;
}

h6 {
  font-size: 1.4rem;
}

p {
  font-size: 1 rem;
  margin-bottom: 0.5rem;
}

a {
  color: #733011;
  text-decoration: underline;
}

a:hover{
  color: #a1461c;
}

ol,ul{
  padding-left: 1.5rem;
}

ul{
  list-style-type: disc;
}

ol{
  list-style: decimal;
}

strong{
  font-weight: bolder;
}

em{
  font-style: italic;
}

img{
 max-width: 100%;
 display: block;
}

sup{
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

sub{
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}

/* form */
form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  /* border: 1px solid #CCC; */
  border-radius: 1em;
}

form label span {
  display: inline-block;
  width: 120px;
  text-align: right;
}

form input, form textarea {
  font: 1em sans-serif;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #999;
}

form input[type=checkbox], form input[type=radio] {
  width: auto;
  border: none;
}

form input:focus,form textarea:focus {
  border-color: #000;
}

form textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

fieldset {
  width: 250px;
  box-sizing: border-box;
  margin-right: 136px;
  border: 1px solid #999;
}

form button {
  margin: 20px 0 0 124px;
}

form label {
position: relative;
}

legend{
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
}

fieldset div+div{
  margin: 2px;
}

/* header */

header{
  background-color: #9a4a24;
  border-bottom: 6px solid #9a4a24;
}


header img {
width: 100%;
/* margin: 0 auto; */
}

.horizontalFlip{
  transform: scaleX(-1);
}

nav{
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

nav ul li{
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 700;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

nav ul li a:hover{
  color: #fff;
  text-decoration: underline;
}

/* index.html */
main{
  background: #fff9f0;
  padding: 10px;
}

.container{
  width: 80%;
  margin: 0 auto;
  padding: 20px
}
.block{
  display: block;
}

.text-center {
  text-align: center;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.aItems-center{
  align-items: center;
}

.stores{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.storeCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgba(0,0,0,0.5);
  margin: 2px;
}
.storeCard h6{
  text-align: center;
}
.storeCard address{
  display: flex;
  flex-direction: column;
  padding: 0 5px 5px 5px; 
  margin: 0 auto;
}

.storeCard address span,
.storeCard address a{
  display: block;
}

.galleryImages{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.galleryImages img{
  width: 300px;
  height: auto;
  object-fit: contain;
  margin: 5px;
}

/* sales.html */
main#salesData{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #69563f ;
}


/* table styles */

#dataTable {
  background-color: #fff;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: right;
}

#dataTable thead {
  font-weight: 700;
  background-color: #703012;
  color: #fff;
  border-bottom: 3px solid #000;
}

#dataTable tr,
#dataTable td,
#dataTable th{
  padding: 10px;
}

#dataTable th, #dataTable td{
  border-bottom: 1px solid #ddd;
}

#dataTable thead,
#dataTable tr td:first-child,
#dataTable tr td:last-child,
#dataTable tfoot{
  font-weight: 700;

}

#dataTable tfoot{
  border-top: 2px solid #703012;
}

#dataTable tr td{
  text-align: right;
}

#dataTable tr td:first-child{
  text-align: left;
}

#dataTable tr  td:first-child:hover ~  td,
#dataTable td:hover{
  cursor: default;
  background-color: #dcdcdc;
}


